input {
  border: solid 1px black;
  width: 40px;
  margin: 0 5px;
}

.btn {
  display: flex;
  direction: row;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 10%;
  
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-delete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
}

.quantity {
  margin: 0 5px;
}

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
.flex-Item {
  display: flex;
  align-self: auto;
  justify-content: space-around;
}

#create-Item {
  display: flex;
}


.item-name {
  width: 100px;
  height: auto;
}


.calcul-prices {
  width: 10%;
}

span {
  width: 10%;
  margin: 2px;
  padding: 2px;
  text-align: center;
}